@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Work+Sans&display=swap');


/****************
*** DEFAULTS
*****************/

* {
	margin: 0px;
	padding: 0px;
}

html {
	height: 100%;
	box-sizing: border-box;
	
}

body {
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	min-height: 100%;
	font-family: 'Work Sans';
	font-size: 14px;
	color: #616565;

}

/* HEADINGS DEFAULT */

h1, h2, h3, h4, h5, h6 {
	color: #444;
	font-size: 30px;
}

a {
	text-decoration: none;
}

ul, ol {
	margin-left: 0px;
}

hr {
	margin: 10px 0px;
	opacity: .25;
}

th,td{
	padding: 5px;
}
.wrapper{
	overflow: hidden;
}

.main{
	margin: 10px;
	padding: 50px 80px;
	
}
/* FORM DEFAULTS 

form h2 {
	margin: 25px auto;
	text-align: center;
	font-family: 'Averia Serif Libre', cursive;
}

form input {
	width: 100%;
	display: block;
	padding: 13px 13px;
	font-size: 1em;
	margin: 5px auto 10px;
	border-radius: 3px;
	box-sizing: border-box;
	background: transparent;
	border: 1px solid #3E606F;
}

form input:focus {
	outline: none;
}*/

/* BUTTON DEFAULT */

.btn {
	color: white;
	background: #4E6166;
	text-align: center;
	border: none;
	border-radius: 5px;
	display: block;
	letter-spacing: .1em;
	margin: 10px 0px;
	padding: 13px 20px;
	text-decoration: none;
}

.container {
	padding: 10px;
	
}
#header{
	z-index: 999;
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky+.content {
	padding-top: 102px;
}

/* navbar */

.navbar {
	margin: 0 auto;
	overflow: hidden;
	right: 0;
	top: 0;
	left: 0;
	color: #ff914d;
	background-color: #fff;
	box-shadow: 0 3px 2px #f5f5f5;
	border: solid 1px #f5f5f5;
	z-index: 999;
	
}

.navbar ul {
	list-style-type: none;
	float: right;
	width: 50%;
}

.navbar ul li {
	float: left;
	font-family: 'Work Sans';
	margin-top: 5px;
}

.navbar ul li a {
	display: block;
	color: #616565;
	text-align: center;
	font-weight: 700;
	padding: 20px 28px;
	text-decoration: none;
}

.navbar ul li a:hover {
	color: #ff914d;
	background-color: #fff4ed;
}

/* logo */

.navbar .logo {
	float: left;
	padding-top: 5px;
	padding-left: 5px;
	width: 48%;
	display: flex;
}

.navbar .logo h1 {
	color: #ff914d;
	font-size: 3em;
	letter-spacing: 5px;
	font-weight: 100;
	
}
.navbar .logo .box{
	width: 50%;
}

/* footer */

.footer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	color: #ff914d;
	background-color: #fff;
	text-align: center;
	margin: 20px auto 0px;
	padding: 20px 0px;
	box-shadow: 0 10px 12px #000;
	border: solid 1px #f5f5f5;
	font-weight: bold;
	z-index: 999;
}

.swiper-container {
	width: 100%;
	height: auto;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	width: 50% !important;
	height: 200px;
	background: #f5f5f5;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.featured h2 {
	color: #000;
	font-size: 30px;
	font-weight: 900;
	letter-spacing: .5px;
	line-height: 40px;
	font-family: 'Work Sans';
	padding: 10px 0;
}

.featured p {
	padding: 10px 0;
}
form#searchform{
	display: flex;
    width: 100%;
}
.search_box {
	margin: 50px auto ;
	display: flex;
	height: 60px;
	width: 80%;
	padding: 0;
	
}

.search_box input[type="text"] {
	height: 60px;
	font-size: 55px;
	display: inline-block;
	font-family: "Roboto";
	font-weight: 100;
	border: none;
	outline: none;
	color: #555;
	padding: 3px;
	top: 0;
	right: 0;
	background: none;
	z-index: 3;
	transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
	cursor: pointer;
	border-bottom: 1px solid #BBB;
}

.search_box input[type="text"] {
	border-bottom: 1px solid #BBB;
}

.search_box input[type="text"] {
	width: 100%;
	z-index: 1;
	border-bottom: 1px solid #BBB;
	cursor: text;
}
.search_box button {
	padding: 10px;
	background: none;
	border: none;
}

.search_box button .fa{
	font-size: 3rem;
}



.topbar_searchbox{
	width: 50%;
	top: 25px;
    left: 20px;
    right: 0;
    position: relative;
}
.topbar_searchbox form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: #f5f5f5;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

.topbar_searchbox input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
	outline: 0;
	background: #f5f5f5;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.topbar_searchbox .fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #000;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.topbar_searchbox form:hover{
    width: 200px;
    cursor: pointer;
}

.topbar_searchbox form:hover input{
    display: block;
}

.topbar_searchbox form:hover .fa{
    background: #ff914d;
    color: white;
}



.tabset > input[type="radio"] {
	position: absolute;
	left: -200vw;
  }
  
  .tabset .tab-panel {
	display: none;
  }
  
  .tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
  .tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
  .tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
  .tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
  .tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
  .tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6)
  .tabset > input:nth-child(13):checked ~ .tab-panels > .tab-panel:nth-child(7) {
	display: block;
  }
  

  
  .tabset > label {
	position: relative;
	display: inline-block;
	padding: 15px 15px 15px 15px;
	border-bottom: 0;
	cursor: pointer;
	font-weight: 600;
    background: #f5f5f5;
	border-radius: 10px;
	margin:5px 0;
  }
  
  .tabset > label::after {
	content: "";
	position: absolute;
	left: 15px;
	bottom: 10px;
	width: 50%;
	height: 4px;
	background: #8d8d8d;
	
  }
  
  .tabset > label:hover,
  .tabset > input:focus + label {
	color: #ff914d;
  }
  
  .tabset > label:hover::after,
  .tabset > input:focus + label::after,
  .tabset > input:checked + label::after {
	background: #ff914d;
	
  }
  
  .tabset > input:checked + label {
	margin-bottom: -1px;
  }
  
  .tab-panel {
	padding: 30px 0;

  }
  
  
  .tabset {
	margin: 20px 0 ;
	justify-content: left;
	vertical-align: middle;
	text-align: left;
  }

  .header-text{
	margin: 20px 0;
	font-size: 24px;
	color: #000;
	text-align: left;
  }

  @media (min-width: 1024px) {
	.top-navbar {
	  display: inline-flex !important;
	}
  }

  @media (max-width: 600px) {

	.swiper-slide{
		width: 100% !important;
	}
	.tabset-label{
		vertical-align: middle;
		text-align: center;
		justify-content: center;
	}
	.search_box {
		margin: 30px auto ;
		display: flex;
		height: 40px;
		width: 90%;
		padding: 0;
		
	}
	
	.search_box input[type="text"] {
		height: 40px;
		font-size: 20px;
		display: inline-block;
		font-family: "Roboto";
		font-weight: 100;
		border: none;
		outline: none;
		color: #555;
		padding: 3px;
		top: 0;
		right: 0;
		background: none;
		z-index: 3;
		transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
		cursor: pointer;
		border-bottom: 1px solid #BBB;
	}
	
	
	
	.search_box input[type="text"] {
		width: 100%;
		z-index: 1;
		border-bottom: 1px solid #BBB;
		cursor: text;
	}
	.search_box button {
		padding: 10px;
		background: none;
		border: none;
	}
	
	.search_box button .fa{
		font-size: 1.2rem;
		font-weight: bold;
	}
  }

  .text-orange{
	color: #ff914d;
  }